@charset "UTF-8";

section {
  width: 1200px;
  height: 400px;
  margin: auto;
  position:absolute;
}

section > * {
  box-sizing: border-box;
}

/* 프로필 사진 등록 칸 CSS 속성 */
.btn-file {
	position:relative;
	overflow:hidden;
}

.btn-file input[type=file] {
	position:absolute;
	top:0;
	right:0;
	min-width:100%;
	min-height:100%;
	font-size:100px;
	text-align:right;
	filter:alpha(opacity=0);
	opacity:0;
	outline:none;
	background:white;
	cursor:inherit;
	display:block;
}

/* 사이드 메뉴 */
#sidemenu {
	width: 20%;
	height: auto;
	float:left;
}

#view-container {
	width: 80%;
	height: auto;
	box-sizing: border-box;
	padding-right:130px;
	margin-right:100px;
}

h2 {
	text-align: center;
}

#sub_menu_name_area > ul {
	list-style:none;
}
 
#sub_menu_name_area > ul > li > a {
	text-decoration:none;
	color:black;
}