section {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	position: relative;
	display: flex;
}

section>* {
	box-sizing: border-box;
	float: left;
}

#sidemenu {
	width: 20%;
}

article {
	width: 80%;
	height: auto;
	box-sizing: border-box;
	float: left;
}

#search_section {
	width: 100%;
	box-sizing: border-box;
	border-left: 20px solid #FFB960;
	border-right: 20px solid #FFB960;
	float: left;
}

#search_bar {
	width: 80%;
	height: 85px;
	border: 15px solid #ff8040;
	font-size: 25px;
}

#show_options_textbox {
	box-sizing: border-box;
	width: 920px;
	height: 75px;
	border: none;
}

#categoryoptions>div {
	display: inline-block;
	width: 10%;
}

#option_view_area {
	width: 100%;
	align-content: center;
}

#search_option_box {
	display: none;
	align-items: center;
}

#item_area {
	box-sizing: border-box;
	border-top: 20px solid #FFB960;
	border-left: 20px solid #fff8e6;
	border-right: 20px solid #fff8e6;
	width: 100%;
	float: left;
}

#item_list {
	width: 100%;
	float: left;
}

.item_box {
	box-sizing: border-box;
	border-top: 10px solid #fff8e6;
	float: left;
	width: 20%;
	height: 275px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.item_thumbnail {
	box-sizing: border-box;
	width: 100%;
	height: 150px;
	object-fit: cover;
	background-color: aquamarine;
}

#pagebar_area {
	width: 100%;
	text-align: center;
}

#pagebar_area>* {
	display: inline-block;
}

#tbl-board {
	width: 100%;
}