@charset "UTF-8";

article .btn_small {
	box-shadow: inset 0px 1px 0px 0px #fce2c1;
	background-color: #ffc477;
	border-radius: 6px;
	border: 1px solid #eeb44f;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 13px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #cc9f52;
}

article .btn_small:hover {
	background-color: #fb9e25;
}

article .btn_small:active {
	position: relative;
	top: 1px;
}

article {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	position: relative;
	display: flex;
}

article>* {
	box-sizing: border-box;
	float: left;
}

#sidemenu {
	width: 20%;
}

section {
	width: 80%;
	height: auto;
	box-sizing: border-box;
	float: left;
}

section>* {
	float: left;
}

#item_area {
	display : flex;
	width: 100%;
	border-right: solid #fff8e6 10px;
	box-sizing: border-box;
}

#item_area>* {
	float: left;
	box-sizing: border-box;
}

#item_photos {
	padding-top: 10px;
	padding-bottom : 10px;
	width: 60%;
	margin: 0 auto;
	border-right: solid #fff8e6 10px;
	border-left: solid #fff8e6 10px;
}

#item_photos img {
	display : block;
	margin:auto;
	max-width:350px;
    max-height:330px;
}

#item_details {
	width: 40%;
	height: 350px;
	padding: 25px;
}

#item_info {
	width: 100%;
	height: 80%;
	width: 100%;
	padding-left : 15px;
}

#item_info div {
	align-content: center;
	text-align: center;
	font-size: 25px;
}

#cloth_name {
	font-weight: bolder;
}

#seller_content_area {
	box-sizing: border-box;
	width: 75%;
	height: 500px;
	border-left: solid #fff8e6 35px;
	border-top: solid #fff8e6 35px;
	border-right: solid #fff8e6 10px;
	border-bottom: solid #fff8e6 10px;
}

#content {
	padding-left: 25px;
}

#title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
	border-bottom: solid #fff8e6 10px;
}

#seller_info_area {
	display: flex;
	width: 25%;
	height: 500px;
	text-align: center;
	font-size: 20px;
	flex-direction: column;
}

#profile_photo {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 35%;
	padding: 10%;
	object-fit: cover;
	justify-content: center;
	border-right: solid #fff8e6 10px;
}

#seller_info {
	box-sizing: border-box;
	background-color: #fff8e6;
	height: 50px;
	justify-content: center;
}

#seller_info2 {
	height: 80%;
	background-color: #fff8e6;
}

#profile_photo>img {
	box-sizing: border-box;
	width: 80%;
	object-fit: cover;
}

#buttons_area {
	text-align: center;
}

#buttons_area>* {
	display: inline-block;
}

#comment_area {
	width: 100%;
	text-align: center;
}

#comment_area {
	display: inline-block;
}

#other_articles_area {
	width: 100%;
	border: 1px solid black;
}

#manage_button_area {
	width : 100%;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

#manage_button_area *{
	width : 10%;
}


